.wrapper{
  text-align: center;
  padding: 100px;
}

.title{
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;
}

.description{
  font-weight: 400;
  font-size: 18px;
  line-height: 145.4%;
  letter-spacing: 0.01em;
  color: #777777
}